.output {
  margin: auto;
}

.output h2 {
  margin: 5px 75px 5px;
}

.output h3 {
  margin: 10px 110px 0;
}

#startstop-button {
  margin: 5px 90px 5px;
  background-color: #1E88E5;
  color: #f5f5f5;
  font-weight: 600;
}

.cardtitle {
  margin: auto;
}

#breaktext {
  color: #e53935;
}

#sessiontext {
  color: #43a047;
}

#cardtext {
  background-color: #e0e0e0;
}

.card-actions {
  margin-top: 5px;
  margin-bottom: 6px;
  /*background-color: #ffcdd2;*/
}
