.output {
  margin: auto;
  border-radius: 20%;
}

.output h2 {
  margin: 5px 75px 5px;
}

.output h3 {
  margin: 10px 110px 0;
}

#startstop-button {
  margin: 5px 90px 5px;
  background-color: #1E88E5;
  color: #f5f5f5;
  font-weight: 600;
}

#startstop-button:hover {
  margin: 5px 90px 5px;
  background-color: #1976D2;
  color: #f5f5f5;
  font-weight: 600;
}

.card-title {
  margin-left: 15px;
}

#breaktext {
  color: #e53935;
}

#sessiontext {
  color: #43a047;
}

#break-background {
  background-color: #ffcdd2;
}

#session-background {
  background-color: #C8E6C9;
}

.card-actions {
  margin-top: 5px;
  margin-bottom: 10px;
}
