.setsession {
  font-size: 1.2em;

}

.setsession > span {
  margin: 0 10px 0;
  color: black;
}

.session-button {
  background-color: #43a047;
  color: #f5f5f5;
  font-weight: 700;
}

.session-button:hover {
  background-color: #388e3c;
  color: #f5f5f5;
  font-weight: 700;
}
