/*.setsession {
  font-size: 1.5em;
  margin: 10px 403px 10px 403px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #f5f5f5;
}*/

.setsession > span {
  margin: 0 10px 0;
  color: black;
}
